############# begin Atlas config section ##########
--noNimblePath
--path:"deps/crunchy/src"
--path:"deps/db_connector/src"
--path:"deps/lowdb/src"
--path:"deps/mummy/src"
--path:"deps/nimsimd/src"
--path:"deps/norm/src"
--path:"deps/webby/src"
--path:"deps/zippy/src"
############# end Atlas config section   ##########
